<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693661094269-preccf5n2jured9i5jl0upvj7hbjtflq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693661094269-preccf5n2jured9i5jl0upvj7hbjtflq</string>
	<key>API_KEY</key>
	<string>AIzaSyD62i0YQJLuE7uHdCqbylaO27iAQSuTNiA</string>
	<key>GCM_SENDER_ID</key>
	<string>693661094269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mainProject</string>
	<key>PROJECT_ID</key>
	<string>mainproject-f2dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>mainproject-f2dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693661094269:ios:a10080c186b73203247c14</string>
</dict>
</plist>